@import "compass";
@import "compass/utilities/sprites";

$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "base/_variables";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

//
// base
@import "base/_fonts";
@import "base/_icons";
@import "base/_buttons";
@import "base/_mixins";
@import "base/_breadcrumb";
@import "base/_typography";
@import "base/_type";

//
// layout
@import "project/_l-header";
//@import "project/_l-content";
@import "project/_l-footer";

//
// blocks
@import "project/_b-widget-gallery";
@import "project/_b-promo";
@import "project/_b-index";
@import "project/_b-builders";
@import "project/_b-projects";
@import "project/_b-project";
@import "project/_b-services";
@import "project/_b-service";
@import "project/_b-menu-accordion";
@import "project/_b-company";
@import "project/_b-job";
@import "project/_b-integration";
@import "project/_b-contacts";

@media (min-width: 768px) {
  .container {
    width: 990px;
  }
}