.b-contacts {

}
.b-contacts_top.b-promo__big {
  background: url('../images/contacts/header-bg.jpg?1411677051') top center no-repeat;
}
.b-contacts_body {
  position: relative;
  overflow: hidden;
  > .container {
    position: relative;
    padding-bottom: 70px;
  }
}
.b-contacts_body_right-bg {
  position: absolute;
  top: 0;
  left: 660px;
  height: 100%;
  width: 1280px;
  background-color: #f5f5f5;
}
.b-contacts_cnt {
  float: left;
  padding-top: 46px;
  padding-right: 30px;
  width: 660px;
  background-color: #FFFFFF;
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  p {
    margin: 0 0 25px;
    line-height: 23px;
  }
  .b-contacts_header:first-child {
    margin-top: 0;
  }
  .list-styled {
    margin-bottom: 30px;
  }
}
.b-contacts_sidebar {
  float: left;
  position: relative;
  padding-top: 46px;
  padding-left: 35px;
  width: 330px;
  line-height: 22px;
  background-color: #f5f5f5;
}
.b-contacts_header {
  margin-bottom: 25px;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}
.b-contacts_map {
  height: 500px;
  width: 100%;
}
.b-contacts_info_header {
  margin-bottom: 16px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.b-contacts_info {
  margin-top: 5px;
  color: #484848;
  font-size: 15px;
  font-weight: 700;
}
.b-contacts_map-links_head {
  margin-top: 4px;
  margin-bottom: 20px;
  color: #484848;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .7px;
}
.b-contacts_map-links_google {
  line-height: 46px;
  color: #000000;
  .icon-google-link {
    margin-right: 16px;
  }
}
.b-contacts_map-links_yandex {
  margin-right: 29px;
  line-height: 46px;
  color: #000000;
  .icon-yandex-link {
    margin-right: 16px;
  }
}