.b-company {
  .breadcrumb {
    margin-top: 15px;
    padding-left: 0;
  }
  .b-promo {
    text-align: left;
    height: 442px;
    color: #FFFFFF;
    background: image-url('company/header-bg.jpg') top center no-repeat;
  }
  .b-promo_cnt {
    text-align: center;
    h1 {
      margin-top: 80px;
      margin-bottom: 0;
    }
    h2 {
      margin-top: 16px;
      margin-bottom: 29px;
    }
  }
}
.b-company_team {
  text-align: center;
  h2 {
    margin-top: 46px;
    margin-bottom: 14px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    font-family: "Circe Light", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
  }
}
.b-company_persons_w {
  margin-left: 596px;
  margin-top: 132px;
}
.b-company_persons {
  margin-top: 40px;
  height: image-height('company/persons-bg.jpg');
  background: image-url('company/persons-bg.jpg') center top no-repeat;
  color: #000000;
}
.b-company_persons_name {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.b-company_persons_post {
  margin-top: 0;
  font-family: "Circe Light", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 32px;
}
.b-company_persons_blockquotes {
  position: relative;
  margin-right: -50px;
  font-family: "Circe Light", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  &:before {
    content: " ";
    position: absolute;
    top: 6px;
    left: -30px;
    @include icon-sprite('quotes-left')
  }
  .icon-quotes-right {
    margin-left: 16px;
    margin-top: 8px;
  }
}
.b-company_body {
  position: relative;
  overflow: hidden;
  > .container {
    position: relative;
  }
}
.b-company_body_right-bg {
  position: absolute;
  top: 0;
  left: 660px;
  height: 100%;
  width: 1280px;
  background-color: #f5f5f5;
}
.b-company_cnt {
  float: left;
  padding-top: 46px;
  padding-right: 30px;
  width: 660px;
  background-color: #FFFFFF;
  color: #484848;
  font-size: 15px;
  font-weight: 400;
  p {
    margin: 0 0 25px;
    line-height: 23px;
  }
  ul {
    padding: 0 0px 0 17px;
    li {
      margin-left: 2px;
      list-style-image: image-url('list-style.png');
    }
  }
}
.b-company_sidebar {
  float: left;
  position: relative;
  padding-top: 46px;
  padding-left: 35px;
  width: 330px;
  background-color: #f5f5f5;
}
.b-company_why-do-we {
  padding-bottom: 60px;
  h2 {
    margin-bottom: 20px;
    color: #000;
    font-family: "Circe";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.b-company_certificates_item {
  margin-bottom: 40px;
}
.b-company_certificates_item_img {
  margin-bottom: 18px;
}
.b-company_certificates_item_desc {
  color: #484848;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.b-company_certificates_all {
  position: relative;
  float: right;
  text-align: right;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  &:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 0;
    border-bottom: 1px solid;
  }
  &:hover {
    text-decoration: none;
  }
}
.b-company_footer {
  height: image-height('company/footer.jpg');
  background: image-url('company/footer.jpg') top center no-repeat;
}