@keyframes scroll-page{
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(15px);
  }
  5.1% {
    opacity: 0;
  }
  9.9% {
    opacity: 0;
  }
  10% {
    transform: translateY(-20px);
    opacity: 1;
  }
  15% {
    transform: translateY(0);
  }
}
//
// Блок "Приветствие"
//
.b-index_hello {
  padding-top: 169px;
  height: 598px;
  color: #fff;
  background-image: url(/images/index/hello-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #5c7b8e;
  h2 {
    margin-top: 16px;
    margin-bottom: 34px;
  }
}
.b-index_hello_more {
  margin-bottom: 82px;
}
.b-index_hello_scroll-down {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.b-index_hello_scroll_text {
  margin-bottom: 6px;
}
.b-index_hello_mouse {
}
.b-index_hello_arrow {
  padding-top: 10px;
  overflow: hidden;
  .icon-arrow_down {
    animation: 5s scroll-page infinite;
  }
}
//
// Блок "Оборудование"
//
.b-index_equipment {
  padding-top: 96px;
  padding-bottom: 85px;
  background-color: $color-yellow;
  color: #fff;
  h2 {
    margin-top: 16px;
  }
  .btn {
    margin-left: 15px;
    margin-right: 15px;
    &:hover {
      color: $color-yellow;
      border-color: #fff;
      background-color: #fff;
    }
  }
}
.b-index_equipment_brands {
  margin-top: 29px;
  margin-bottom: 55px;
  @include inline-block-list-container;
}
.b-index_equipment_brand_link {
  @include inline-block-list-item();
  vertical-align: top;
  span {
    margin: 0 30px;
  }
}

//
// Блок "Наши Проекты"
//
.b-index_projects {
  padding-top: 121px;
  height: 598px;
  background: image-url('index/projects-bg.jpg') center top no-repeat #b29350;
  color: #fff;
  h1 {
    margin-bottom: 66px;
  }
}
.b-index_projects_items {
  @include inline-block-list-container;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}
.b-index_projects_item {
  @include inline-block-list-item;
  vertical-align: top;
  width: 33%;
  &:first-child {
    margin-left: 0;
  }
}
.b-index_projects_item_text {
  margin-top: 24px;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
//
// Блок "Услуги"
//
.b-index_service {
  padding-top: 63px;
  padding-bottom: 62px;
  color: #484848;
  h2 {
    margin-bottom: 16px;
    margin-bottom: 33px;
  }
}
.b-index_service_items {
  @include inline-block-list-container;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
}
.b-index_service_item {
  @include inline-block-list-item;
  vertical-align: top;
  width: 33%;
  &:first-child {
    margin-left: 0;
  }
}
.b-index_service_item_text {
  margin-top: 19px;
  color: #484848;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.b-index_service_more {
  color: #484848;
  border-color: #484848;
  &:hover {
  }
}
//
// Блок "Обратная связь"
//
.b-index_feedback {
  color: #fff;
  .help-block {
    position: absolute;
    top: 0;
    right: 0;
    color: #f24841;
    font-size: 14px;
    font-weight: 700;
  }
  .col-xs-offset-2 {
    margin-left: 12%;
  }
  .col-xs-4 {
    padding-left: 30px;
    padding-right: 30px;
    width: 38%;
  }
  label {
    margin-bottom: 1px;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
  }
  input,
  textarea {
    height: 45px;
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    &.error {
      padding: 4px 10px;
      border-width: 3px;
      color: #f24841;
    }
  }
  input {
    &::placeholder {
      color: #fff;
    }
  }
  textarea {
    height: 147px;
  }
  .form-group {
    position: relative;
    margin-bottom: 30px;
  }
}
.b-index_feedback_head {
  padding-top: 61px;
  padding-bottom: 54px;
  background-color: #006cab;
}
.b-index_feedback_footer {
  padding-top: 36px;
  padding-bottom: 40px;
  background-color: #0066a2;
  text-align: left;
}
.b-index_feedback_submit {
  text-align: center;
  .btn {
    background-color: transparent;
    &:hover,
    &:focus {
      color: #0066a1;
      border-color: #fff;
      background-color: #fff;
    }
  }
}