.b-integration {

}
.b-integration_top.b-promo {
  background: url('../images/integration/header-bg.jpg?1411677051') top center no-repeat;
}
.b-integration_body {
  position: relative;
  overflow: hidden;
  > .container {
    position: relative;
    padding-bottom: 60px;
  }
}
.b-integration_body_right-bg {
  position: absolute;
  top: 0;
  left: 660px;
  height: 100%;
  width: 1280px;
  background-color: #f5f5f5;
}
.b-integration_cnt {
  float: left;
  padding-top: 46px;
  padding-right: 30px;
  width: 660px;
  background-color: #FFFFFF;
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  p {
    margin: 0 0 25px;
    line-height: 23px;
  }
  .b-integration_header:first-child {
    margin-top: 0;
  }
  .list-styled {
    margin-bottom: 30px;
  }
}
.b-integration_sidebar {
  float: left;
  position: relative;
  padding-top: 46px;
  padding-left: 35px;
  width: 330px;
  line-height: 22px;
  background-color: #f5f5f5;
}
.b-integration_header {
  margin-bottom: 25px;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}
.b-integration_items {
  margin-bottom: 40px;
}
.b-integration_item {
  .list-styled {
    margin-top: 25px;
  }
}
.b-integration_item_name {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
}
.b-integration_item_post {
  margin-top: 89px;
}
.b-integration_item_service {
  margin-top: 87px;
}
.b-integration_item_project {
  margin-top: 86px;
}
.b-integration_description {
  background-color: $color-gray;
  padding-bottom: 60px;
}
.b-integration_description.b-cnt {
  h2 {
    margin-top: 46px;
    margin-bottom: 24px;
  }
}