.b-job {

}
.b-job_top.b-promo {
  background: url('../images/job/header-bg.jpg?1411677051') top center no-repeat;
}
.b-job_body {
  position: relative;
  overflow: hidden;
  > .container {
    position: relative;
    padding-bottom: 60px;
  }
}
.b-job_body_right-bg {
  position: absolute;
  top: 0;
  left: 660px;
  height: 100%;
  width: 1280px;
  background-color: #f5f5f5;
}
.b-job_cnt {
  float: left;
  padding-top: 46px;
  padding-right: 30px;
  width: 660px;
  background-color: #FFFFFF;
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  p {
    margin: 0 0 25px;
    line-height: 23px;
  }
  .b-job_header:first-child {
    margin-top: 0;
  }
  .list-styled {
    margin-bottom: 30px;
  }
}
.b-job_sidebar {
  float: left;
  position: relative;
  padding-top: 46px;
  padding-left: 35px;
  width: 330px;
  line-height: 22px;
  background-color: #f5f5f5;
}
.b-job_header {
  margin-bottom: 25px;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}