.b-menu-accordion {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
.b-menu-accordion_item {
  margin: 0 !important;
  margin-bottom: 9px;
  padding: 0 !important;
  list-style: none !important;
}
.b-menu-accordion_item_name {
  @include inline-block;
  position: relative;
  padding-right: 10px;
  color: #006CAA;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  &:before {
    content: " ";
    position: absolute;
    bottom: 2px;
    height: image-height('dotter.png');
    background: image-url('dotter.png') repeat-x;
    width: 100%;
  }
  &:after {
    content: " ";
    position: absolute;
    top: 10px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 3px 3px;
    border-color: transparent transparent #006CAA transparent;
    transition: border-width .2s $easeInOutQuad, border-color .2s $easeInOutQuad
  }
}
.b-menu-accordion_submenu {
  margin: 10px 0 0 20px;
  padding: 0;
  list-style: none;
}
.b-menu-accordion_submenu_item {
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 400;
  color: #484848;
  line-height: 18px;
}
.b-menu-accordion_submenu_item_link {
  color: #494949;
  &:hover {
    text-decoration: none;
  }
}
.b-menu-accordion_item.__active {
  .b-menu-accordion_item_name {
    &:after {
      border-width: 3px 3px 0 3px;
      border-color: #006CAA transparent transparent transparent;
    }
  }
}
.b-menu-accordion_submenu_item.__current {
  .b-menu-accordion_submenu_item_link {
    color: #000;
    font-weight: 700;
  }
}