.b-projects {
}
.b-projects_top.b-promo {
  background: url('../images/headers/projects.jpg?1411677051') top center no-repeat;
}
.b-projects_body {
  padding-top: 63px;
}
.b-projects_items {
  @include inline-block-list-container;
  margin-right: -40px;
}
.b-projects_item {
  @include inline-block-list-item();
  vertical-align: top;
  margin-right: 40px;
  margin-bottom: 54px;
  width: 460px;
  &:hover {
    text-decoration: none;
    .b-projects_item_head {
      text-decoration: underline;
    }
  }
}
.b-projects_item_img {
  width: 460px;
  margin-bottom: 26px;
}
.b-projects_item_head {
  margin-bottom: 3px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Circe, Arial, Helvetica, sans-serif;
  line-height: 26px;
  letter-spacing: .1px;
}
.b-projects_item_desc {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  font-family: Circe, Arial, Helvetica, sans-serif;
  line-height: 22px;
  letter-spacing: .1px;
}