/**
  Промо блок
  Заголовки в промо блоке имеют иные размеры
**/
.b-promo {
  text-align: center;
  h1 {
    font-family: Circe, Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.2px;
  }
  h2 {
    font-family: Circe, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.7px;
    line-height: 30px;
  }
  .breadcrumb {
    opacity: 0.9;
    color: #FFF;
    font-family: Circe, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    > .active {
      color: #FFFFFF;
    }
    > li + li:before {
      color: #FFFFFF;
    }
    a {
      position: relative;
      color: #FFFFFF;
      &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 100%;
        height: 0;
        border-bottom: 1px solid #FFFFFF;
        transition: opacity .2s $easeInOutQuad, bottom .2s $easeInOutQuad;
        @include opacity(1);
      }
      &:hover {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }
}
.b-promo.b-promo__big {
  text-align: left;
  min-height: 442px;
  background: $color-blue top center no-repeat;
  color: #FFFFFF;
  text-align: center;
  .breadcrumb {
    margin-top: 15px;
    padding-left: 0;
    text-align: left;
  }
  h1 {
    margin-top: 64px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 16px;
  }
  .btn_work-us {
    margin-top: 20px;
  }
  .b-promo_image {
    position: relative;
    right: 35px;
    top: -12px;
  }
}