.b-project {

}
.b-project_top {
  text-align: left;
  background-color: $color-blue;
  .breadcrumb {
    margin-top: 15px;
    padding-left: 0;
  }
  > .container {
    position: relative;
  }
  .b-promo_cnt {
    margin-top: 32px;
    padding-bottom: 34px;
  }
  h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: Circe, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  .b-project_top_prev-work,
  .b-project_top_next-work{
    margin-top: 2px;
    transition: all .2s $easeInOutQuad;
  }
  .b-project_top_prev-work {
    &:hover {
      transform: translateX(-10px)
    }
  }
  .b-project_top_next-work {
    &:hover {
      transform: translateX(10px)
    }
  }
}
.b-project_body {
  position: relative;
  overflow: hidden;
  > .container {
    position: relative;
    padding-bottom: 60px;
  }
}
.b-project_body_right-bg {
  position: absolute;
  top: 0;
  left: 660px;
  height: 100%;
  width: 1280px;
  background-color: #f5f5f5;
}
.b-project_cnt {
  float: left;
  padding-top: 46px;
  padding-right: 30px;
  width: 660px;
  background-color: #FFFFFF;
  color: #484848;
  font-size: 15px;
  font-weight: 400;
  p {
    margin: 0 0 25px;
    line-height: 23px;
  }
  ul {
    padding: 0 0px 0 17px;
    li {
      margin-left: 2px;
      list-style-image: image-url('list-style.png');
    }
  }
}
.b-project_sidebar {
  float: left;
  position: relative;
  padding-top: 46px;
  padding-left: 35px;
  width: 330px;
  background-color: #f5f5f5;
}
.b-project_param {
  margin-bottom: 10px;
  a {
    color: #484848;
    text-decoration: underline;
  }
}
.b-project_param_head {
  margin-bottom: 3px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.b-project_param_body {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
}