.b-services {
}
.b-services_top {
  text-align: center;
  min-height: 442px;
  background: url('../images/headers/services.jpg?1411677051') top center no-repeat;
  color: #FFFFFF;
  .breadcrumb {
    margin-top: 15px;
    padding-left: 0;
    text-align: left;
  }
  h1 {
    margin-top: 64px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 16px;
  }
  .b-services_top_work-us {
    margin-top: 20px;
  }
  .b-promo_image {
    position: relative;
    right: -5px;
    top: -12px;
  }
}
.b-services_body {
  padding-top: 63px;
}
.b-services_items {

}
.b-services_items_head {
   margin-top: 3px;
   margin-bottom: 36px;
   color: #000;
   font-size: 30px;
   font-weight: 700;
   text-transform: uppercase;
 }
.b-services_items_body {
  @include inline-block-list-container;
  margin-right: -40px;
}
.b-services_item {
  @include inline-block-list-item();
  vertical-align: top;
  margin-bottom: 31px;
  width: 460px;
  margin-right: 40px;
  &:hover {
    text-decoration: none;
    .b-services_item_head {
      text-decoration: underline;
    }
  }
}
.b-services_item_head {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.b-services_item_desc {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
}
.b-services_create {
  padding-bottom: 43px;
}
.b-services_audit {
  padding-top: 64px;
  padding-bottom: 43px;
  background-color: #f5f5f5;
}