.b-widget-gallery {
  @include inline-block-list-container;
  display: none;
  margin-top: 46px;
  margin-bottom: 50px;
  ul, li {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
  }
}
.b-widget-gallery_img {
  width: 460px;
  height: 278px;
}
.b-widget-gallery.loaded {
  display: block;
}
.b-widget-gallery_nav {

}
.b-widget-gallery .flexslider {
  @include inline-block-list-item();
  vertical-align: top;
  border: 0;
  padding: 0;
  margin: 0;
  width: 460px;
  height: 278px;
}
.b-widget-gallery_right {
  @include inline-block-list-item();
  vertical-align: top;
  padding-left: 40px;
  width: 170px;
}
.b-widget-gallery_desc {
  color: #484848;
  font-size: 15px;
  font-weight: 400;
}
.flex-direction-nav {
@include inline-block-list-container;
}
.b-widget-gallery_nav {
  margin-bottom: 30px;
}
.b-widget-gallery_nav_counter,
.b-widget-gallery_nav_prev,
.b-widget-gallery_nav_next {
  @include inline-block-list-item();
  vertical-align: top;
}
.b-widget-gallery_nav_prev,
.b-widget-gallery_nav_next {
  cursor: pointer;
  transition: all .2s $easeInOutQuad;
}
.b-widget-gallery_nav_prev {
  &:hover {
    transform: translateX(-10px);
  }
}
.b-widget-gallery_nav_next {
  &:hover {
    transform: translateX(10px);
  }
}
.b-widget-gallery_nav_counter {
  margin: 0 10px;
  color: #484848;
  font-size: 16px;
  font-weight: 700;
}