.l-footer {
  padding-top: 75px;
  padding-bottom: 65px;
  background-color: #002b44;
}
.l-footer_menu {
  @extend .list-unstyled;
  @include inline-block;
  color: #fff;
  font-family: "Circe";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  a {
    position: relative;
    color: #fff;
    &:hover {
      text-decoration: none;
      &:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 0;
        border-bottom: 2px solid #fff;
      }
    }
  }
  > li {
    @include inline-block(top);
    margin-left: 47px;
    &:first-child {
      margin-left: 0;
    }
    > a,
    > span {
      @include inline-block;
      margin-bottom: 10px;
    }
    > ul {
      li {
        margin-bottom: 5px;
      }
    }
  }
  ul {
    @extend .list-unstyled;
    text-transform: none;
  }
}
.l-footer_copyrights {
  margin-bottom: 31px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 27px;
}
.l-footer_social {

}
.l-footer_social_item {
  @include inline-block;
  margin-right: 17px;
}