.l-header {
  margin-top: 30px;
  margin-bottom: 30px;
}
.l-header_logo {
  img {
    display: block;
  }
}
.l-header_menu {
  margin-top: 10px;
  font-family: Circe, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  li > a {
    color: #000;
    transition: color .1s $easeInOutQuad;
    &:hover {
      color: $color-yellow;
      background-color: transparent;
    }
  }
  > li {
    position: relative;
    > ul {
      position: absolute;
      display: none;
      margin: 0;
      padding: 0;
      min-width: 100%;
      list-style: none;
      z-index: 1;
      li {
        &:first-child {
          a,
          span {
            border-top: none;
            &:after {
              content: " ";
              position: absolute;
              top: -8px;
              left: 40px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 8px 8px 8px;
              border-color: transparent transparent $color-yellow transparent;
              transition: border-color .2s $easeInOutQuad;
            }
          }
        }
      }
      a,
      span {
        @include inline-block;
        width: 100%;
        padding: 15px 19px 12px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        background-color: $color-yellow;
        border-top: 1px solid #fff;
        text-transform: none;
        white-space: nowrap;
        transition: background-color .2s $easeInOutQuad;
        &:hover {
          text-decoration: none;
          background-color: #e5b022;
          color: #fff;
          &:after {
            border-color: transparent transparent #e5b022 transparent !important;
          }
        }
      }
    }
    &:hover {
      > ul {
        display: block;
      }
    }
  }
}
@media screen and (min-width: 768px) {
}