.btn-border {
  padding: 16px 30px 12px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0px;
  border-radius: 12px;
  border: 1px solid #f1f1f1;
  transition: border-color .2s $easeInOutQuad, background-color .2s $easeInOutQuad, color .2s $easeInOutQuad;
  &:hover {
    color: #fff;
    border-color: $color-yellow;
    background-color: $color-yellow;
  }
}
.btn-white-hover {
  &:hover {
    color: $color-yellow;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
}