/** Делает горизонтальный список из inline-block эелементов, например этот список можно центровать text-align: center; **/
@mixin inline-block-list($padding: false)
  @include inline-block-list-container
  li
    @include inline-block-list-item($padding)
@mixin inline-block-list-container
  font-size: 0 /* убираем горизонтальные отступы */
  line-height: 0 /* ...и вертикальные в некоторых браузерах */
  @if $legacy-support-for-mozilla /* для лисы не трогаем отступ */
    letter-spacing: 0px
  @else
    letter-spacing: -1px /* переубеждаем webkit'ы */
@mixin inline-block-list-item($padding: false)
  +inline-block
  font-size: 14px /* Не забываем восстановить нормальные значения */
  line-height: normal
  letter-spacing: normal
  @if $padding
    padding:
      left: $padding
      right: $padding

/** Отключает события у нежележащих элементов **/
@mixin pointer-events($type: none)
  $type: unquote($type)
  @include experimental(pointer-events, $type, -moz, -webkit, not -o, not -ms, -khtml, official)

/** Делает кроссбраузерный прозрачный background **/
@mixin transparent-bg($color, $alpha)
  $rgba: rgba($color, $alpha)
  $ie-hex-str: ie-hex-str($rgba)
  background-color: transparent
  background-color: $rgba
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str})
  zoom: 1

/** Добавляет вендорные префиксы для анимации **/
=animate($name: fadeIn, $duration: 1s, $delay: .2s, $function: ease, $mode: both)
  +experimental(animation, $name $duration $delay $function $mode)
// keyframes mixin
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
//
// Добавляет сглаженность шрифтам, в тех браузерах где это поддерживается (webkit, mozila)
//
@mixin font-smoothing($value: antialiased)
  @if $value == antialiased
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  @else
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto