.b-cnt {
  h1 {}
  h2 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .7px;
  }
  h3 {}
  h4 {}
  h5 {}
  h6 {}

  p {
    margin-bottom: 22px;
    line-height: 22px;
  }
}