.list-styled {
  padding: 0 0px 0 17px;
  > li {
    margin-bottom: 9px;
    margin-left: 2px;
    list-style-image: image-url('list-style.png');
    line-height: 21px;
  }
}
.list-header {
  margin-bottom: 10px;
}